#post{
    #postPopupScreen{

        background-color: rgba(255,150,00,0.1) ;
        position: fixed;
        height: 100%;
        width: 100%;
        top:0px;
        left: 0px;


    }
    #cross{
        cursor: pointer;
        font-size: 30px;
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px
    }
    #postPopup{
        position: fixed;
        text-align: right;
        background-color: #080000;
        width: 700px;
        top: 50px;
        left: 30%;
        border-radius: 20px;
        border: 2px solid $color1;
    }
    .postTextArea{
        resize: none;
        overflow: hidden;
        white-space: pre-wrap;
        width: 650px;
        margin-right: 25px;
        min-height: 160px;
        max-height: 280px;
        border: none;
        outline: none;
        color:white;
        font-size: 20px;
        background-color: transparent;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reduceSize{
        min-height: 25px;
        height: 25px;

    }
    #postName{
        text-align: left;
        margin-left: 25px;
        font-size: 17px;
        color: $textColor;
    }
    #bottomPost{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #sendButton{
        margin-left: 570px;
    }
    #pictureAdd{
        margin-top: 2px;
        margin-left: 20px;
        font-size: 35px;
        color: $color1;
        cursor: pointer;
    }

}